html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-size: 18px;
    line-height: normal;
    background: #EDF3F8;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
  }
  
  a,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  button,
  input,
  img,
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }

.info {
    height: 253px;
}

.div {
  width: 350px;
}